.layout-content-wrapper {
	padding: 2rem;
}
.layout-menu-container {
	overflow: auto;
}
.header-logo {
	margin-top: 0;
	font-size: 20px;
	color: var(--logo-color);
}

@media screen and (min-width: 992px) {
	.layout-container.layout-static .layout-content-wrapper {
		margin-left: 18rem;
		transition: margin-left var(--transition-duration);
	}
}
